/* --- Fonts selection ---*/
@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie|Architects+Daughter|Rock+Salt|Special+Elite|Nunito|Inconsolata);

/*********************************
GENERAL
*********************************/

body {

  margin: 0;
  background-color: #fff;
  color: #1D3C6A;
  background-size: 250%;
  font-family: 'Nunito', arial;
}

h1, h2 {
    font-family: 'Nunito', arial;
}

/* make all anchor selector to have this color and no decoration */
a {
  color: #F0F0F0;
  text-decoration: none;
  }

a:hover {
  color: #f0f0f0;
  text-decoration: none;
}


/*********************************
HEADING
*********************************/

header {
  font-family: 'Nunito', arial;
}


header h1 {
  padding:3% 3% 0 1%;
  font-size:60px;
  margin:0;
}

header h2 {
  font-size: 30px;
  margin: 0;
  padding:0 1%;
  width: 100%;
}

h1 + h2 {
  display:inline-block;
  margin-bottom: 0;
}

h3 {
  margin: 0 0 1em 0 ;
}


h4 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

h5 {
  font-size: 1em;
  margin: 10px 10px 10px 10px;
  font-weight: normal;
  padding: 10px 10px 10px 5px;
  text-align: center;
}




/*****************************************************
  NAVIGATION - twitter, linkedin, google+, github
******************************************************/

.navbar {
  display: none;
  background-color: #000;
}

#navigation {
  margin: 0 auto;
  padding:2.5%;
  color:#1D3C6A;
  text-align: center;
}

#navigation li {
  font-family: arial;
  display: inline-block;
  list-style:none;
  font-size:1.5em;
  width: 200px;
  padding:0;
  margin:0;
  border-radius: 15px;
  background-color: #1D3C6A;
}


#navigation li:hover {
  cursor:pointer;
}

#navigation li:hover, #navigation li:focus
{
  -webkit-animation: pulsate .85s linear infinite;
  animation: pulsate .85s linear infinite;
}

#navigation ul {
  padding: 3% 0 0 0;
}



/* This is to make the letters in the nav buttons glow */

#submit:hover, #submit:focus
{
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}


@-webkit-keyframes pulsate
{
  0%   { color: #222; text-shadow: 0 -1px 0 #000; }
  50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #222; text-shadow: 0 -1px 0 #000; }
}

@keyframes pulsate
{
  0%   { color: #222; text-shadow: 0 -1px 0 #000; }
  50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #222; text-shadow: 0 -1px 0 #000; }
}


/**** END OF NAV BUTTONS *****/

/*********************************
MY-DIV
*********************************/


#my-div {
  margin-top: 100px;
  width: 100%;
  padding-top:20px;
  padding-bottom:20px;
  display: inline-block;
  float: left;
}


.moving-hadouken {
    vertical-align: top;
    margin-top: 140px;
    margin-left: -100px;
}

/*div pre code {
    padding-left: 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}*/


/* jQuery project demo */
.demo-hadouken {
    vertical-align: top;
    margin-top: 55px;
    margin-left: -55px;
}

#main-example-add-sound {
  background-color: #1D3C6A;
    font-family: sans-serif;
    color: #FBFCFC;
    display: inline-block;
    padding: 4px 10px;
    -moz-border-radius: 3px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}



/*********************************
FOOTER
*********************************/


footer {
  clear: both;
  font-size: 1.125em;
  text-align: center;
  margin= auto;
  width: 100%;
  padding-bottom:2px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
}

footer a {
  font-weight:800;
  padding: 15px 10px;
}








